<div>basic translation in html: this is version 1 of this string</div>

<span>basic translation in code: this is version 1 of this text</span>

<div>there
  {numberOfSchmutz, 
    plural, 
    =0 {is} 
    =1 {is} 
    other {are}} 
    
    {{numberOfSchmutz | i18nPlural: pluralMapping['schmutz']}}

    on my jacket</div>






<ul>
  <li i18n>no id</li>

  <li i18n="@@id">has id</li>

  <li i18n="meaning|description@@coolcustomid">decorate html elements with i18n</li>

  <li>{{text}}</li>

  <li i18n-title title="super cool title">this has a title</li>
  <!-- 
if no args supplied, random id is generated
can supply 3 args: meaning, description, id
i18n="meaning|description@@id"
meaning is definition or purpose of text
description provides context to a translator
id is custom id used by translation generator -->

  
</ul>

<h5>pipes</h5>
<ul>
  <li>
    <span>{{date | date}}</span>
  </li>
  <li>
    <span>{{32.50 | currency}}</span>
  </li>
  <li>
    <span>{{19.78 | number}}</span>
  </li>
  <li>
    <span>{{0.89 | percent}}</span>
  </li>
</ul>
